/server/node_modules
/client/node_modules
/e2e/node_modules
/mock-e2e/node_modules
node_modules

logs
*.log
npm-debug.log*

/client/.DS_Store
/client/dist/
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/**/*.log
/client/test/screenshots
/client/test/videos
/client/selenium-debug.log
/client/.idea
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/.vscode


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env
.idea